{% load static %}
<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>SIGN_IN</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{%static 'js/jquery.min.js' %}"></script>
		<script src="{%static 'js/jquery.dropotron.min.js' %}"></script>
		<script src="{%static 'js/skel.min.js' %}"></script>
		<script src="{%static 'js/skel-layers.min.js' %}"></script>
		<script src="{%static 'js/init.js' %}"></script>
		
		<link rel="stylesheet" href="{%static 'css/skel.css' %}" />
		<link rel="stylesheet" href="{%static 'css/style.css' %}" />
		<link rel="stylesheet" href="{%static 'css/style-wide.css' %}" />
		
		<!-- [if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
<body>
    
    <div class="wrapper style1">
		<div id="header" class="skel-panels-fixed">
			<div id="logo">
				<h1><a href="../index">Phase Shift</a></h1>
				<span class="tag">by TEMPLATED</span>
			</div>
		</div>
		<div>
			{% for message in messages %}
			<h2 style="color: orangered;">{{message}}</h2>
			{% endfor %}
		</div>
		<h2 style="color: rgb(180, 172, 169);">Sign In</h2>
        <form action="register" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="UserName" name='UserName'><br>
            <input type="text" placeholder="first name" name='FirstName'><br>
            <input type="text" placeholder="last name" name='LastName'><br>
            <input type="email" placeholder="@EMAIL" name='Email'><br>
            <input type="password" placeholder="Password" name='Password1'><br>
            <input type="Password" placeholder="ConfirmPassword" name='Password2'><br>
            <input type="submit" placeholder="SUBMIT">


        </form>
    </div>
    

</body>
</html>